  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Tarihi Mekanlar</h5>
                <p class="grey-text text-lighten-4">Tarihi mekan, bir şehirin tarihi kısmıdır. Kültürel miras değerleri nedeniyle siyasi, askeri, kültürel veya sosyal tarihin parçaları korunmuştur. Tarihi yerler genellikle yasalarla korunmaktadır ve çoğu resmi ulusal tarihi site statüsü ile tanınmıştır.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Sosyal Medya Hesapları</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right">123456@gmail.com</a>
            </div>
          </div>
        </footer>