  <div class="row">
      <div class="center">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{place.image}}>
    </div>
    <div class="card-content">
      <b class="card-title activator grey-text text-darken-4" >{{place.title}}<i class="material-icons right">more_vert</i></b>
    </div>
    <div class="card-reveal">
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
    </div>
  </div>